body{
background-image: url(../images/moshpit.jpg);
position: relative;
font-family: 'Allerta Stencil', sans-serif;
}

.change {
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 45px;
}

.change2 {
	font-weight: bold;
}

.container {
	width: 950px;
}

.startHeader {
	text-decoration: underline;
}

.startDiv {
	background-image: url(../images/plaid.jpg);
	height: 100%;
	opacity: 0.95;
}

.sL {
	color: red;
	font-size: 40px;
}

.questionsDiv {
	opacity: 0.9;
	height: 100%;
}

.resultsDiv {
	position: relative;
	top: 100px;
	opacity: 0.9;
	height: 100%;
}

.timerDiv {
	background-image: url(../images/plaid2.jpg);
	opacity: 1;
    max-width: 180px;
  	width:100%;
	padding: 20px;
	outline: 3px solid #E3E3E3;
	position: fixed;
	top: 20px;
	right: 20px;
	color: white;
	font-size: 26px;
	margin-left: 5px;
}
.timerTop {
	text-decoration: underline;
}
.done, .start {
	width:100%;
	font-size: 30px;
}

